.dropdown-toggle::after {
    display:none;
}


.xsmall-font{
    font-size: 12px;
}

.small-font{
    font-size: 14px;
}

.standard-font{
    font-size: 16px;
}

.normal-font{
    font-size: 18px;
}

.large-font{
    font-size: 20px;
}

.xlarge-font{
    font-size: 22px;
}

.big-font{
    font-size: 24px;
}

.xbig-font{
    font-size: 26px;
}

.mega-font{
    font-size: 28px;
}

.ultra-font{
    font-size: 30px;
}

.box-news{
    padding: 0px 30px
}
