<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buscar Notícias</title>
</head>
<body>
    <h2>Buscar Notícas</h2>
    <a>Voltar</a>
    <br>
    <input type="text" placeholder="Título"><br>
    <input type="text" placeholder="Assunto"><br>
    <input type="date" placeholder="Data"><br>
    <input type="text" placeholder="Assunto"><br>
    <input type="text" placeholder="Espaço"><br>
    <br>

    <button> Buscar </button>
</body>
</html>